/* 螢幕尺寸: 767px 以下。 */
@media screen and (max-width: 767px){
	.bn{	
		margin-top: 60px;
		padding-bottom: 50%;		
	}
	.bn img{
		width: 100%;	
		vertical-align: middle;
	}
	.bn_text{	
		width: 100%;
		height: auto;
		background-color: rgba(68,68,68,.2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;							
	}
	.bn_text h1{
		width: 100%;
		color: #fff;
		font-size: 16px;		
		position: absolute;		
		bottom: 50%;						
	}
	.bn_text .textlogo,
	.bn_text .textshose,
	.bn_text:before,
	.bn_text h1:before{	
		display: none;
	}
	.service,.sales_title{
		width: 100%;
		padding-top: 50px;			
	}
	.service_title h1:after,.sales_title h1:after{
		display: none;
	}
	.ser_contents{
		outline: dashed 2px #102437;
		width: 100%;		
	}
	.texts{
		width: 90%;
		box-sizing: border-box;
		padding: 30px 10px;
	}
	.texts:before,.rotater,.backimg,.corner{
		display: none;
	}
	.ser_contents dt,.ser_contents dd{
		width: 90%;
		box-sizing: border-box;
		padding: 0px 10px;
	}	
	.map img{
		width: 80%;
	}
	.detail{
		width: 80%;
		margin: 20px 0;
	}
	.detail h2,.detail h3{
		width: 100%;
	}
}

/* 螢幕尺寸: 768px 以上。 */
@media screen and (min-width: 768px){
	nav ul .nav_5 a{
		color: #F04D50;
		font-weight: 700;
	}	
	.bn{
		padding-bottom: 55%;
		margin-top: 100px;
	}
	.bn_text{
		width: 42%;
		height: 300px;		
		background-color: #fff;		
		position: absolute;
		top: 0;
		left: 45%;
		right: 0;
		bottom: 0;
		margin: auto;
		overflow: hidden;
		box-shadow: 30px -30px 0px #102437;
	}
	.bn_text .textshose{	
		display: none;
	}
	.bn_text h1{
		width: 80%;			
		font-size: 18px;
		position: absolute;
		left: 0;
		right: 0;
		top: 45%;
		bottom: 0;
		margin: auto;
		font-weight: 500;
		padding: 0 10px; 		
	}
	.service_title h1:before,
	.sales_title h1:before{
		content: url('images/li_logo.png');
	    position: absolute;
	    top: -15%;
	    left: 56%;
	    animation: rotateball 1s infinite alternate;
	}
	.ser_contents{
		outline: dashed 2px #102437;				
	}	
	.service,.sales_title{		
		padding-top: 100px;	
		margin: auto;	
	}
	.texts{
		width: 80%;
		box-sizing: border-box;
		padding: 20px;
	}
	.texts:before,.rotater,.backimg,.corner{
		display: none;
	}
	.ser_contents dt,.ser_contents dd{
		width: 80%;
		box-sizing: border-box;
		padding: 0px 20px;
	}
	.detail{		
		margin: 20px;
	}
}

/* 螢幕尺寸: 1200px 以上。 */
@media screen and (min-width: 1200px){
	.bn{
		padding-bottom: 40%;
		margin-top: 100px; 		
	}
	.bn_text{		
		top: 30%;
		left: 40%;		
		box-shadow: 30px 30px 0px #102437;
	}
	.bn_text .textshose{
		display: block;	
		max-width: 450px;		
		position: absolute;	
		right: -13%;
		bottom: -14%;
	}	
	.bn_text h1{			
		font-size: 22px;				
	}
	.service,.sales_title{
		width: 1200px;			
	}
	.service_title h1:before,
	.sales_title h1:before{
		content: url('images/li_logo.png');
	    position: absolute;
	    top: -15%;
	    left: 54%;
	    animation: rotateball 1s infinite alternate;
	}
	.ser_contents{
		outline: dashed 2px #102437;
		width: 1200px;		
	}
	.texts:before,.rotater,.backimg,.corner{
		display: block;
	}
	.texts{
		width: 900px;
		box-sizing: border-box;
		padding: 20px;		
	}
	.rotator{
		width: 100%;
	    height: 100%;
	    background-color: transparent;
	    overflow: hidden;
	    position: absolute;
	    right: -152px;
	    top: -36%;
	}
	.backimg{
		width: 80px;
	    height: 80px;
	    background-color: #ddd;
	    position: absolute;
		right: -3px;
	    top: -3px;
		outline: dashed 2px #102437;
	}
	.ser_contents dt,.ser_contents dd{
		width: 900px;		
	}	
	.detail{
		margin-left: 40px;
	}
}